<% content_for :head do %>
  <title>A Simple Jquery Slideshow</title>
<% end %>
<h1>Jquery Slideshow</h1>
<pre>:::javascript
autoplay: 2000,  // Autoplay speed; Use 0 to disable autoplay
autoSizeSlides: true, // Adds inline css to slides that matches the height and width of the container
captions: null, // Selector
captionAnimation: false, // Can be set to 'fade', 'slide', or false(default)
containerEvent: [true, true, true], // [container click advances slideshow, stop slideshow when clicked, pauses slideshow on hover]
controls: [true, false], // [controls, next/prev, clicking container advances slideshow, controls hover/click]
controlEvent: true, // controls click/hover - true will require a control click to trigger control false will trigger on hover
loop: true, // Allows for the slideshow to cycle 
slideSelector: null, // By default the slideshow will transition all first level children, if you so desire you can pass a selector such as ".slide"
slideAnimation: false, // Can be set to 'fade', 'slide', or false(default)
speed: 300 // Animation speed for slide progression
</pre>

<section id="content" class="slideshow">
  <% 10.times do |i| %>
    <article class="slide">
      <%= image_tag("slideshow-1/#{i + 1}.jpeg") %>
        <div class="caption">
          <p><%= data.slides.captions[i] %></p>
        </div>
    </article>
  <% end %>
</section>

<section id="content-2" class="slideshow">
  <% 10.times do |i| %>
    <article class="slide">
      <%= image_tag("slideshow-1/#{i + 1}.jpeg") %>
        <div class="caption">
          <p><%= data.slides.captions[i] %></p>
        </div>
    </article>
  <% end %>
</section>

<section id="content-3" class="slideshow">
  <% 10.times do |i| %>
    <article class="slide">
      <%= image_tag("slideshow-1/#{i + 1}.jpeg") %>
        <div class="caption">
          <p><%= data.slides.captions[i] %></p>
        </div>
    </article>
  <% end %>
</section>